USE [master]
GO
/****** Object:  Database [QLGYM]    Script Date: 26/05/2023 23:20:43 ******/
CREATE DATABASE [QLGYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLGYM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLGYM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGYM]
GO
/****** Object:  Table [dbo].[Banking]    Script Date: 26/05/2023 23:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banking](
	[ID] [varchar](10) NOT NULL,
	[IDReciep] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cash]    Script Date: 26/05/2023 23:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cash](
	[ID] [varchar](10) NOT NULL,
	[FVOM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/05/2023 23:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Cus_ID] [varchar](10) NOT NULL,
	[Cus_Amount] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [varchar](11) NULL,
	[Email] [varchar](50) NULL,
	[Dob] [datetime] NULL,
	[Gender] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 26/05/2023 23:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[E_ID] [varchar](10) NOT NULL,
	[IDS] [varchar](10) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [varchar](11) NULL,
	[Dob] [datetime] NULL,
	[Gender] [nvarchar](10) NULL,
	[Specialy] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[DateWorked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 26/05/2023 23:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID] [varchar](10) NOT NULL,
	[Cus_ID] [varchar](10) NULL,
	[Date] [date] NULL,
	[Amount] [float] NULL,
	[Total] [int] NULL,
	[Form] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT]    Script Date: 26/05/2023 23:20:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT](
	[E_ID] [varchar](10) NOT NULL,
	[Exp] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 26/05/2023 23:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Cus_Amount] [int] NOT NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cus_Amount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 26/05/2023 23:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[IDS] [varchar](10) NOT NULL,
	[Cus_Amount] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Stime] [time](7) NULL,
	[Etime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([E_ID], [IDS], [Name], [Address], [Phone], [Dob], [Gender], [Specialy], [Username], [Pass], [Role], [DateWorked]) VALUES (N'E0001', N'S0001', N'Adam', N'Q7, HCM', N'01112222', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'Nam', N'Skillful', N'ad123', N'1F460DF3BD097AFFCDCB730D21D63A67C11A41D1', N'Quản lý', 4)
INSERT [dbo].[Employee] ([E_ID], [IDS], [Name], [Address], [Phone], [Dob], [Gender], [Specialy], [Username], [Pass], [Role], [DateWorked]) VALUES (N'E0002', N'S0002', N'', N'', N'', CAST(N'2023-01-02T18:45:36.000' AS DateTime), N'', NULL, N'', N'', N'', NULL)
INSERT [dbo].[Employee] ([E_ID], [IDS], [Name], [Address], [Phone], [Dob], [Gender], [Specialy], [Username], [Pass], [Role], [DateWorked]) VALUES (N'E0003', N'S0002', N'Adam', N'Q7, HCM', N'01112222', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'Nam', NULL, N'', N'', N'Pha chế', NULL)
INSERT [dbo].[Schedule] ([Cus_Amount], [Date]) VALUES (100, CAST(N'2023-01-01' AS Date))
INSERT [dbo].[Schedule] ([Cus_Amount], [Date]) VALUES (200, CAST(N'2023-02-02' AS Date))
INSERT [dbo].[Shift] ([IDS], [Cus_Amount], [Name], [Stime], [Etime]) VALUES (N'S0001', 100, N'Ca 1', CAST(N'06:00:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[Shift] ([IDS], [Cus_Amount], [Name], [Stime], [Etime]) VALUES (N'S0002', 200, N'Ca 2', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Shift] ([IDS], [Cus_Amount], [Name], [Stime], [Etime]) VALUES (N'S0003', 100, N'Ca 3', CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time))
ALTER TABLE [dbo].[Banking]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Payment] ([ID])
GO
ALTER TABLE [dbo].[Cash]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Payment] ([ID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([Cus_Amount])
REFERENCES [dbo].[Schedule] ([Cus_Amount])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([IDS])
REFERENCES [dbo].[Shift] ([IDS])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([Cus_ID])
REFERENCES [dbo].[Customer] ([Cus_ID])
GO
ALTER TABLE [dbo].[PT]  WITH CHECK ADD FOREIGN KEY([E_ID])
REFERENCES [dbo].[Employee] ([E_ID])
GO
ALTER TABLE [dbo].[Shift]  WITH CHECK ADD FOREIGN KEY([Cus_Amount])
REFERENCES [dbo].[Schedule] ([Cus_Amount])
GO
USE [master]
GO
